@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 1440px;
    height: 1080px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

h1 {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}



.image {
    width: 540px;
    height: 448px;
    position: absolute;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 37.11%;
}

h2 {
    position: absolute;
    width: 586px;
    height: 190px;
    left: 735px;
    top: 265px;
    color: #333333;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
}

.text {
    position: absolute;
    width: 381px;
    height: 108px;
    left: 736px;
    top: 491px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;

    color: #4f4f4f;
}

button {
    background: #333;
    width: 216px;
    height: 68px;
    position: absolute;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;
    font-family: 'Space Mono', monospace;
    line-height: 21px;
    color: #fff;
    letter-spacing: -3.5%;
    font-size: 14px;
    font-weight: 700;
    border: none;
}

.created {
    position: absolute;
    width: 287px;
    height: 17px;
    left: 577px;
    top: 1039px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}

@media screen and (max-width: 375px) {
    body {
        position: relative;
        width: 375px;
        height: 949px;
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    h1 {
        position: absolute;
        width: 133px;
        height: 25px;
        left: 24px;
        top: 20px;
        font-size: 24px;
        line-height: 25px;

    }

    .image {
        width: 287px;
        height: 240px;
        position: absolute;
        left: 11.73%;
        right: 11.78%;
        top: 11.49%;
        bottom: 63.44%;

    }

    h2 {
        position: absolute;
        width: 350px;
        height: 142px;
        left: 24px;
        top: 407px;
        font-size: 48px;
        line-height: 71px;
    }

    .text {
        position: absolute;
        width: 328px;
        height: 81px;
        left: 23px;
        top: 579px;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;
    }

    button {
        position: absolute;
        width: 216px;
        height: 68px;
        left: 24px;
        top: 726px;
        font-size: 14px;
        line-height: 21px;
        border: none;
    }

    .created {
        position: absolute;
        width: 287px;
        height: 17px;
        left: 46px;
        top: 908px;
    }
}